// app global css in SCSS form
@font-face {
  font-family: "Montserrat";
  src: url("src/css/fonts/Montserrat.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url("src/css/fonts/Inter.ttf") format("truetype");
}

// declare a class which applies it
.text-montserrat {
  font-family: "Montserrat";
}

.text-inter {
  font-family: "Inter";
}
